{
    "client": {
        "cache": {
            "enable": true,
            "dir": ".sm",
            "default_expiration": 300,
        }
    },
    "policy_definition": "sample.rb",
    "repo_types": {
        "github": {
        "trusted_org": "Foo",
        "signoff_body": "LGTM",
            "access_tokens": {
                "main": "",
                "external": {
                }
            }
        }
    }
}
